.BinDecHex {
	position: relative;
	width: -webkit-min-content;
	width: min-content;
	white-space: nowrap;
}
.NumLabel {
	display: inline-block;
	width: 100px;
}
.ActiveArea {
	margin-bottom: 5px;
	padding: 5px;
	border-left: 3px solid;
	box-shadow: 0px 2px 3px 1px #DEDEDE;
}
#DecimalArea, #BinaryArea, #HexArea {
	float: right;
}
.radio-list {
	padding: 0px;
	display: inline-block;
}
.radio-list li {
	display: inline;
}
.reveal {
	background-color: green;
	color: white;
	font-size: .8em;
	padding: 2px 3px 2px 3px;
}
.reveal::after {
	content: "REVEAL";
}