/* Administravia */
html {
	max-width: 1000px;
	max-height: 800px;
}
body {
	color: black;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 14px;
	padding-left: 10px;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-Italic';
	src: url('roboto/Roboto-Italic.ttf');
}
/* /Graph/ stuff, haha! */
#graph {
	width: 1300px;
	max-width: 1300px;
	height: 500px;
	max-height: 500px;
	overflow: hidden;
	position: absolute;
	border-left: 1px inset black;
	cursor: crosshair;
}
.node {
	height: 8px;
	width: 8px;
	border-radius: 5px;
	background: #BB9350;
}
.node:hover .box {
	display: inline-block;
}
.box {
	display: none;
	min-width: 80px;
	margin-left: 10px;
	position: relative;
	background: white;
	padding: 3px 4px 4px 4px;
	border: 2px solid #13335F;
	z-index: 5;
}
.message {
	color: #07501D;
}
.revision {
	color: #906112;
	font-size: 1.2em;
	font-family: 'Inconsolata', 'Courier New';
}
.revision::after {
	content: "\000A";
	white-space: pre;
}
.ital {
	font-family: 'Roboto-Italic';
}
hr {
	position: absolute;
	top: 192.5px;
	width: 87.5%;
}
svg {
	position: absolute;
	left: 4px;
}