.board-2048 {
  display: inline-block;
  text-align: left;
  position: relative;
  border: 1px solid black;
  border-radius: 1px;
}
.tile {
  position: absolute;
  width: 90%;
  margin: 5%;
  -webkit-transition: top .1s linear, opacity .1s linear;
  transition: top .1s linear, opacity .1s linear;
}

.board-wrapper {
  text-align: center;
  white-space: pre-line;
  margin-bottom: 20px;
}
label {
  display: inline-block;
  border-bottom: 2px solid rgb(7, 80, 136);
  border-radius: 3px;
  padding: 5px;
  color: white;
  margin-top: 10px;
  background-color: rgb(46, 129, 193);
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
label input {
  display: none;
}

blockquote {
  font-style: normal;
  color: inherit;
  letter-spacing: inherit;
}
