@font-face {
    font-family: 'Fjord';
    src: url('fjord/FjordOne-Regular.otf');
}

@font-face {
	font-family: 'Exo-Light';
	src: url('exo/Exo-Light.otf');
}

@font-face {
	font-family: 'Exo-ExtraBold';
	src: url('exo/Exo-ExtraBold.otf');
}

html {
	background: url(images/pipboy_pieces/pipboy_with_hole.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-y: hidden;
}

body {
	height: 100%;
	font-family: 'Exo-Light', sans-serif;
	color: #B8E336;
}

h2 {
	position: relative;
	font-family: 'Exo-Extrabold', sans-serif;
	font-size: 2em;
}

p {
	position: relative;
	top: 10px;
}

#pip_outline {
	position: absolute;
	width: 366px;
	height: 342px;
	left: 50%;
	top: 50%;
	margin-left: -115px;
	margin-top: -220px;
}

#wrapperboy {
	position: absolute;
	width: 200px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -150px;
	background: url(images/wrapperboy.png);
}

.leftarm {left: 0px; top: 0px;}
.rightarm {left: 0px; top: 0px;}
.leftleg {left: 0px; top: 0px;}
.rightleg {left: 0px; top: 0px;}
.chest {left: 0px; top: 0px;}
.head {left: 0px; top: 0px;}

.leftarm:hover {

}
.rightarm:hover {

}
.leftleg:hover {

}
.rightleg:hover {

}
.chest:hover {

}
.head:hover {

}