@font-face {
    font-family: 'Fjord';
    src: url('fjord/FjordOne-Regular.otf');
}

body {
	font-family: 'Fjord', serif;
	font-size: 15px;
	background: url(images/snow_texture_tint.png);
	color: black;
	margin: 0 auto;
}

p {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background: url(images/snow_texture.png);
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

ol, ul {
	padding-left: 50px;
}

h1 {
	width: 100%;
	padding-left: 20px;
	text-align: center;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 2em;
	padding-left: 20px;
}

h3 {
	font-size: 1.5em;
	padding-left: 20px;
}
