body {
  text-align: left;
}
#wrapper {
  padding: 2px;
  height: 100%;
}

.code img {
  max-width: 90%;
}
.Answer {
  display: none;
  color: green;
}
.code {
  background: white;
  padding: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
}

.Question::after {
  content: "Toggle Answer";
}

/* TAB STRUCTURE */

.taboo {
  position: relative;   
  min-height: 100px;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
}
.tab {
  display: inline-block;
}
.tab label {
  display: inline-block;
  z-index: 1;
  min-width: 100px;
  background: #eee; 
  padding: 10px;
  position: relative; 
  margin-bottom: 2px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.tab [type=radio] {
  display: none;   
}
.content {
  display: none;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  max-width: 98%;
  min-height: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  /*border: 1px solid #ccc;*/
  border-left: 1px solid #85EDEC;
}
.content .taboo .tab label {
  min-width: 40px;
}
.content .taboo .tab .content {
  margin-top: 30px;
  border-left: 1px solid orange;
}
.content .taboo .tab [type=radio]:checked + label {
  color: orange;
}
.content .taboo {
  margin-top: 45px;
}
.content h3 {
  padding-left: 0px;
}
[type=radio]:checked + label {
  color: #2B9A9A;
  background: white;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
}
[type=radio]:checked + label ~ .content {
  display: inline;
}

@media (max-width:1277px) {
  .content .taboo {
    margin-top: 88px;
  }
}
@media (max-width:638px) {
  .content .taboo {
    margin-top: 133px;
  }
}
@media (max-width:511px) {
  .content .taboo {
    margin-top: 176px;
  }
}

@media (max-width:627px) {
  #help {
    float: left !important;
  }
  #blurb {
    width: 100% !important;
  }
}