@font-face {
    font-family: 'Roboto Normal';
    src: url('roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('roboto/Roboto-Italic.ttf');
}

body {
	width: 500px;
	margin: 0 auto;
	background: #F2EFE6;
}

table {
	margin: 0 auto;
	border-spacing: 10px;
	font-family: 'Roboto Normal', sans-serif;
}

td {
	height: 100px;
	width: 46%;
	box-shadow: 0 8px 6px -6px #888888;
	background: #8F6CD7;
	-webkit-transition: background 1s;
	color: black;
	margin: 100px;
	padding: 10px 10px 10px 10px;
	vertical-align: top;
}

td:hover {
	background: #6F81D6;
    -webkit-transition: background 1s;
}
