@font-face {
    font-family: 'Fjord';
    src: url('fjord/FjordOne-Regular.otf');
}
body, html {
	position: fixed;
	font-family: 'Fjord', sans-serif;
	/*color: #66D0EF;*/
    color: #2B9A9A;
}
h1 {
    white-space: nowrap;
}
#container {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
}
#bar {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 5px;
    top: -17px;
    background-color: orange;
}
audio {
    display: none;
}