/* Administravia */
body {
	margin: 0 auto;
	font-family: 'Open Sans', 'Roboto-Regular', 'Helvetica', sans-serif;
	text-align: left;
	font-size: 16px;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/roboto/Roboto-Regular.ttf');
}
/* HEADER -- Back Button, Headline, Horizontal Rules */
#banner {
	display: block;
	width: 100%;
	min-width: 431px;
	position: fixed;
	z-index: -1;
}
h1, #back, #back2 {
	font-family: 'Open Sans', 'Roboto-Regular', 'Helvetica', sans-serif;
	font-size: 3em;
	padding: 10px 0px 10px 30px;
	color: white;
	margin-top: 0;
}
h1 {
	text-align: left;
	position: relative;
	margin-bottom: 0px;
}
.stripes {
/*	background: -webkit-repeating-linear-gradient(135deg, #06537D, #06537D 12px, #4E94B9 12px, #4E94B9 24px);
    background: -moz-repeating-linear-gradient(135deg, #06537D, #06537D 12px, #4E94B9 12px, #4E94B9 24px);
  	background: repeating-linear-gradient(135deg, #06537D, #06537D 12px, #4E94B9 12px, #4E94B9 24px);*/
  	background: #06537D;
}
#back, #back2 {
	position: fixed;
	right: 30px;
	top: 10px;
	font-size: 2em;
	z-index: 5
}
#back2 {
	font-size: 2.6em;
	z-index: 4;
	top: 3px;
	color: #06537D;
}
hr {
	height: 12px;
	border: none;
	background-color: #85EDEC;
	margin: 0;
}
#load-button {
	float: right;
	margin-left: 10px;
	margin-right: 20px;
}
#load-button:hover:before {
	content: "load all images ";
}
/* Content - CS10 Practice */
.code, .image {
	background: white;
	padding: 10px 10px 10px 10px;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 0 8px 6px -6px black;
	font-family: 'Monaco', 'Inconsolata', 'Courier', Serif;
}
.cem {
	color: blue;
	font-family: 'Monaco', 'Inconsolata', 'Courier', Serif;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	font-weight: 700;
	/*padding-left: 10px;*/
	margin: 0px;
}
.Question::after {
	content: "Toggle Answer";
}
.Answer {
	display: none;
	color: green;
}
/* Content - Web Design Samples */
.showcase {
	position: relative;
	display: inline-block;
	width: 20vw;
	height: 20vw;
	min-width: 220px;
	min-height: 220px;
	overflow: hidden;
	margin: 10px 10px 10px 10px;
	border-bottom: 5px solid black;
	background: black;
}
.showcase iframe {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	transition: all .2s ease;
	border: none;
	background: white;
}
.showcase:hover iframe {
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
	opacity: 0.5;
}
.showcase div:not(.linkdummy):not(.unvisited) {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	transition: .2s ease;
	padding: 2px 0px 0px 5px;
	font-family: 'Open Sans', 'Roboto-Regular', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: white;
}
.showcase:hover div {
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
}
a {
	text-decoration: none;
}
.linkdummy {
	position:absolute;top:0;left:0;width:100%;height:100%;z-index:50;
}
