/* Tabs */
.tabs {
	position: static;
	margin: 5px;
}
.tabs li {
	display: inline-block;
	cursor: pointer;
	min-width: 100px;
	padding: 7px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: 'Roboto-Regular', 'Exo-Light', sans-serif;
}
.content {
	position: relative;
	min-height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px 10px 0px 10px;
	border-left: 3px orange solid;
	background: white;
	box-shadow: 0px 2px 3px 2px #DEDEDE;
}
.content .tab .content {
	position: relative;
	border-left: 3px #329A99 solid;
}
.tab {
	position: absolute;
	width: calc(100% - 20px);
	/*border: 1px black solid;*/
}
.content .tab .content .tab {
	padding-top: 10px;
}
.on {
	background: white;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.off {
	color: black;
	background: #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
/* End of Tabs */
