body {
  font-family: 'Open Sans';
  padding: 10px;
}

#wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
h1 {
  font-size: 48px;
  margin-bottom: 5px;
  line-height: 110%;
}
p {
  font-size: 18px;
  margin-top: 5px;
}

#contribute {
  position: fixed;
  /* Starts with form hidden, animates to bottom: 0 to reveal form. */
  bottom: -30px;
  left: 0;
  padding: 10px;
  font-size: 18px;
  color: #216fed;
}
#contribute label {
  margin-right: 20px;
}
.notice {
  color: #e04845 !important;
  font-weight: 700;
}
.helper-text {
  font-size: 14px;
  color: #999999;
}
#contribute > label img {
  height: 25px;
  vertical-align: -5px;
}
#contribute label:hover span {
  text-decoration: underline;
}
#form-wrapper {
  position: relative;
  /* Starts off screen, animates closer to "Contribute" */
  top: 10px;
  font-family: 'Open Sans';
}
#submit-status {
  opacity: 0;
  height: 25px;
  vertical-align: middle;
}
#contribute form {
  display: inline-block;
}
#contribute label {
  cursor: pointer;
}

#form-wrapper, #contribute {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input, input::-webkit-input-placeholder, button {
  font-family: 'Open Sans';
}
/* Firefox */
input::-moz-placeholder, button {
  opacity: 1;
  color: #959595;
  font-family: 'Open Sans';
}
/* Old Firefox */
input:-moz-placeholder, button {
  opacity: 1;
  color: #959595;
  font-family: 'Open Sans';
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #contribute #form-wrapper {
  top: 3px;
}
input[type=checkbox]:checked ~ #contribute {
  bottom: 0px;
}

input[type=text] {
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #F29696;
  padding: 3px;
}
input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid #F29696;
}

button {
  /* Starts out disabled */
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  color: white;
  background: #4C657E;
  border-bottom: 2px solid #36413D;
}
button:enabled:active {
  vertical-align: -2px;
  margin-top: 3px;
  border-bottom: 0px;
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

.animate-appear-and-fade {
  opacity: 1;
  -webkit-animation: appear-and-fade 3s;
  -moz-animation:    appear-and-fade 3s;
  -o-animation:      appear-and-fade 3s;
  animation:         appear-and-fade 3s;
}
@-webkit-keyframes appear-and-fade {
  0%   { opacity: 1; }
  30%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes appear-and-fade {
  0%   { opacity: 1; }
  30%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes appear-and-fade {
  0%   { opacity: 1; }
  30%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes appear-and-fade {
  0%   { opacity: 1; }
  30%   { opacity: 1; }
  100% { opacity: 0; }
}
