body {
    font-family: 'Georgia', serif;
    font-size: 15px;
    margin: 7px 8px 8px 8px;
    min-width: 550px;
    color: #444;
    line-height: 18px;
}
h1, h2, h3, h4 {
    font-family: 'Tinos';
}
h3, h4 {
    margin: 0;
}

h1 {
    margin: 5px 10px 5px 0px;
    font-size: 2.1em;
}
h1 span {
    display: block;
    margin: 5px 0px 5px 1px;
    font-size: .5em;
    font-style: italic;
    white-space: nowrap;
}

.nav {
    border: 2px solid black;
    border-bottom: none;
    margin: 0;
    padding: 0;
    position: relative;
    background: #032C4F;
    color: white;
    font-size: 1.1em;
}
.nav > li {
    display: inline-block;
    padding: 6px 6px 6px 6px;
    position: relative;
    border-bottom: 1px solid #032C4F;
}
.nav > li:hover .menu {
    visibility: visible;
}
.nav > li:hover {
    background: #114979;
    border-color: white;
}
.menu {
    list-style: none;
    position: absolute;
    min-width: 100%;
    white-space: nowrap;
    left: 0;
    top: calc(100% + 1px);
    padding: 0px;
    text-align: left;
    z-index: 10;
    visibility: hidden;
    background: #032C4F;
    color: white;
}
.menu li {
    border-bottom: 1px solid white;
    padding: 7px 7px 7px 7px;
}
.menu li:hover {
    background: #114979;
}
.nav a:link {
    text-decoration: none;
    color: white;
}
.nav a:visited {
    color: white;
}

.hook-wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 300px;
    box-shadow: 0px 2px 4px grey;
}
.hook-wrapper.secondary-page {
    height: 100px;
}
.hook {
    width: 100%;
}
.hook-main {
    border: 2px solid black;
    position: absolute;
    width: 250px;
    left: 10px;
    bottom: 10px;
    background: #032C4F;
    padding: 5px;
    font-size: .9em;
    color: white;
}
.hook-main p {
    margin-top: 0;
    margin-bottom: 0;
}
.hook-main img {
    display: inline-block;
    position: relative;
    float: right;
    width: 50%;
}

h2 {
    text-align: left;
    font-size: 2em;
    margin: 10px 10px 6px 0px;
}
.content {
/*    border: 1px solid black;*/
    position: relative;
    text-align: justify;
}
.content p:first-of-type {
    margin-top: 0;
}
.content p:last-of-type {
    margin-bottom: 0;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
.featured {
    border: 2px solid black;
    width: 200px;
    float: right;
    margin: 5px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    text-align: left;
    box-shadow: 0px 2px 4px grey;
    background: white;
}
.featured p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.author {
    display: inline-block;
    position: relative;
    border-left: 2px solid black;
    width: 200px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    background: white;
    font-size: .8em;
    background: #ECEBEC;
}
.author img {
    height: 100%;
    float: left;
    margin-right: 5px;
}
.join {
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 5px 8px;
    padding: 5px 5px 5px 5px;
    border-left: 2px solid black;
    background: #ECEBEC;
    font-size: .8em;
}
.submit-button {
    font-family: sans-serif;
    padding: 6px 5px 5px 5px;
    margin-left: 0;
    font-size: 1em;
    color: white;
    background: #FDC441;
    border: none;
    border-radius: 4px;
    display: inline-block;
}
.submit-button:active {
    background: #F1B837;
}
.input-text {
    border-radius: 3px;
    border: 2px solid #BBBBBB;
    padding: 4px;
    margin: 0px 5px 5px 0px;
    display: block;
}

footer {
    font-size: .7em;
    font-family: sans-serif;
    border: 1px solid black;
    background: #032C4F;
    color: white;
    padding: 10px 10px 10px 10px;
    height: 80px;
    display: block;
    margin: 10px -8px 0px -8px;
}
.mini-hr {
    font-size: 1.2em;
}
footer .logo {
    width: 80px;
    height: 80px;
    float: left;
}
footer div {
    padding: 5px;
    margin: 5px;
    float: right;
    border-left: 2px solid white;
}
footer p {
    margin: 0;
}

.secret-div {
    width: 100px;
    height: 60px;
    border-radius: 50px 50px;
    background: white;
    position: absolute;
    left: 55%;
    top: 25%;
    padding: 20px 0px 0px 20px;
    visibility: hidden;
}
.visible {
    visibility: visible;
}
