/* Document level positioning */

/* idea: web page that plays current ac music based on time + weather */

body {
  --word-box-width: 293px;
  --word-box-height: 380px;
  margin: 0;
}

#container {
  overflow-y: hidden; /* hides the overflowing svgs in the components */
  min-height: 100vh; /*                    ...                       */
  /* 😫 can't flex wrap because need to change the z-index when wrapped */
  --container-padding: 12px;
  padding: var(--container-padding);
}

BOGGLE-BOARD {
  position: relative;
  z-index: 3;
  line-height: normal; /* reset */
  margin: 0 auto;

  --board-width: 400px;
  width: var(--board-width);
  height: var(--board-width);
  max-width: calc(100vmin - 2 * var(--container-padding));
  max-height: calc(100vmin - 2 * var(--container-padding));
}

#results {
  position: relative;
}

WORD-BOX {
  transform: translate(-500px, 500px);
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  z-index: 4;
  line-height: normal; /* reset */
}

SOLVE-BUTTON {
  position: relative;
  margin: 40px auto;
  z-index: 4;
  /* transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Screen size */

/* Mobile */
@media (max-width: 760px) {
  body.solved BOGGLE-BOARD {
  }
  body.solved WORD-BOX {
  }
}

/* Solved states */

/* body.solved BOGGLE-BOARD {
  display: inline-block;
  vertical-align: top;
} */
body.solved WORD-BOX {
  animation-name: run-away;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0px, 0px);
  /* vertical-align: middle; */
}

SOLVE-BUTTON.clicked {
  animation-name: run-away;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-500px, 500px);
}

@keyframes run-away {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(-500px, 500px);
  }
}

/* This is just run-away in reverse. Can we reverse with
 * animation API instead? */
/* @keyframes come-back {
  0% { transform: translate(-500px, 500px); }
  80%  { transform: translate(20px, -20px); }
  100%   { transform: translate(0px, 0px); }
} */
