@font-face{
	font-family: 'HKGrotesk';
	src: url('./hkgrotesk/HKGrotesk.otf');
}

@font-face{
	font-family: 'HKGroteskRegular';
	src: url('./hkgrotesk/HKGrotesk-Regular.otf');
}

body {
	line-height: 1.5;
}

#body {
	padding-bottom: 0px;
	padding-top: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'HKGrotesk';
}

h1 {
	font-size: 36px;
	margin: 0px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 12px;
	font-size: 28px;
}

h3 {
	color: grey;
	font-size: 26px;
	margin: 0 0;
	font-family: 'HKGroteskRegular';
}

p { font-size: 17px; }

h2 + p {
	padding: 18px;
	border-left: 5px solid;
	background: #F2F2F2;
	border-radius: 3px;
	box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px, rgba(0, 0, 0, 0.07) 0px 5px 15px;
}

hr {
	background-image: url('squiggle.svg');
	height: 50px;
	background-size: 300px 50px;
	background-repeat: no-repeat;
	background-position: center top;
	border: none;
	margin: 20px;
}

.item, #header, #footer {
	width: calc(100% - 40px); /* 100% - (left pad + right pad) */
	padding: 20px 20px;

	position: relative;
	overflow-x: hidden;

	box-sizing: content-box;
}
.item > .info {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 48px;
}
#header > div:nth-child(1) {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}


.item > div:nth-child(1) {
	position: relative;
	z-index: 2;
}

#item-google { /* background-color: #000; */ }
#item-google > .info > p { /* border-color: #000; */ }
#item-google > .info > h3 { /* color: #000; */ }
#item-google > .info > h2 { /* color: #000; */ }

#item-braintree { background-color: #1E88E5; }
#item-braintree > .info > p { border-color: #EB5757; }
#item-braintree > .info > h3 { color: #F2F2F2; }
#item-braintree > .info > h2 { color: #F2F2F2; }

#item-lecturer { background-color: #FFD600; }
#item-lecturer > .info > p { border-color: #795548; }
#item-lecturer > .info > h3 { color: #0a0a0a; }
#item-lecturer > .info > h2 { color: #000; }

#item-ugsi { }
#item-ugsi > .info > p { }
#item-ugsi > .info > h3 { }
#item-ugsi > .info > h2 { }

#item-volunteer { background-color: #1E88E5; }
#item-volunteer > .info > p { border-color: #EB5757; }
#item-volunteer > .info > h3 { color: #F2F2F2; }
#item-volunteer > .info > h2 { color: #F2F2F2; }


#footer {
	background-color: #FFFFFF;

	color: black;
	font-family: 'HKGrotesk';
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 30px;
}
#footer > div {
	text-align: right;
	position: relative;
}
#footer > div:nth-child(2) {
	font-family: 'HKGroteskRegular';
	font-size: 19px;
}
#youtube-link {
	text-decoration: none;
}
