body {
  background: #F1F1F1;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  border: 1px solid grey;
  position: relative;
}

.github-square {
  width: 20%;
  height: 20%;
  background: #90DD9B;
}
.github-avatar {
  width: 50%;
  padding-top: 50%;
  position: relative;
}
