@font-face {
    font-family: 'Fjord';
    src: url('../fonts/fjord/FjordOne-Regular.otf');
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/roboto/Roboto-Bold.ttf');
}
body, html {
	font-family: 'Roboto-Regular', 'Helvetica', sans-serif;
	/*color: #66D0EF;*/
    color: #2B9A9A;
    font-size: 16px;
    font-size: 5.6vmin;
    width: 100%;
    margin: 0;
}
h1 {
    /*white-space: nowrap;*/
    font-family: 'Roboto-Regular', 'Helvetica', sans-serif;
    font-size: 2em;
    font-size: 10vmin;
    z-index: 5;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    line-height: 110%;
}
/* Nav Bar */
.nav {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: -10px;
	width: 100%;
    background-color: #E6E6E6;
    list-style-type: none;
    border-radius: 4px;
}
.nav > li {
    font-family: 'Roboto-Bold', 'Helvetica', sans-serif;
    font-size: 1.15em;
	position: relative;
    width: calc(100% - 10px);
    color: black;
    padding: 10px 0px 0px 10px;
}
a {
	text-decoration: none;
    color: #67A09D;
}
a:visited {
    color: #67A09D;
}
.twitter-timeline-wrapper {
    width: calc(100% - 10px);
}
.twitter-timeline {
    height: 100%;
}
.menu {
    font-family: 'Roboto-Regular', 'Helvetica', sans-serif;
    font-size: 1.1em;
    width: calc(100% - 10px);
    white-space: nowrap;
    margin: 10px 0px 0px -10px;
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    border-top: 2px solid #E6E6E6;
/*    border-bottom: 2px solid black;*/
    background-color: #FFFFFF;
}
.menu > li {
    margin-bottom: 4px;
}
.label {
    color: black;
}
.menu hr {
    color: #E8E8E8;
    border-style: solid;
    margin: 3px -10px 2px -5px;
    border-width: .5px;
}
.link-image {
    position: absolute;
    right: 7px;
    float: right;
    width: 9vmin;
}
/* End Nav Bar */
#container {
    position: relative;
    margin: 0 auto;
    width: 280px;
    height: 300px;
    height: 45vmin;
    color: black;
}
#bar {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    background-color: orange;
}
.triangle {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 0;
	height: 0;
}
#bigT {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid orange;
}
#littleT {
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid white;
    top: -16px;
}
#typeGrounds {
    position: relative;
    margin: 0 auto;
	text-align: center;
    top: -10px;
}
#typer {
	color: #2B9A9A;
}
#cursor {
	opacity: 1;
	font-weight: 100;
	vertical-align: 0px;
	-webkit-animation: blink 0.75s infinite;
	-moz-animation: blink 0.75s infinite;
	-o-animation: blink 0.75s infinite;
	animation: blink 0.75s infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}