@font-face {
    font-family: 'Fjord';
    src: url('../fonts/fjord/FjordOne-Regular.otf');
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 16px;
}
h1 {
    /*white-space: nowrap;*/
    font-family: 'Fjord', sans-serif;
    font-size: 2em;
    z-index: 5;
    position: relative;
    text-align: center;
    top: -12px;
}
/* Nav Bar */
.nav {
	position: relative;
	bottom: 0;
	padding-left: 0;
	/*color: #1B5E20;*/
}
.nav > li {
	display: inline;
	position: relative;
	padding: 10px;
	transition: all .15s linear;
}
.nav > li:hover .menu {
    opacity: 1;
    visibility: visible;
}
.nav > li:hover .twitter-timeline-wrapper {
    opacity: 1;
    visibility: visible;
}
.nav > li:hover .twitter-timeline {
    pointer-events: auto;
}
.nav > li:hover .arrow {
    opacity: 1;
}
a {
	text-decoration: none;
    color: #2E7D32;
}
a:visited {
    color: #2E7D32;
}
.twitter-timeline-wrapper {
    position: absolute;
    bottom: 100%;
    height: 200px;
    left: -50%;
    opacity: 0;
    visibility: hidden;
    transition: all .15s linear;
}
.twitter-timeline {
    height: 100%;
    pointer-events:none;
    z-index: 50;
}
.menu {
    position: absolute;
    left: 0;
    text-align: left;
    white-space: nowrap;
    bottom: 100%;
    padding: 5px 10px 5px 5px;
    list-style-type: none;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    font-size: .9em;
    opacity: 0;
    visibility: hidden;
    transition: all .15s linear;
    /*z-index: 100;*/
    background: white;
    background-color:rgba(255,255,255,0.9);
}
.label {
    color: black;
}
.menu hr {
    color: #E8E8E8;
    border-style: solid;
    margin: 3px -10px 2px -5px;
    border-width: .5px;
}
.arrow {
    position: absolute;
    bottom: calc(100% - 4px);
    left: 10px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #E8E8E8;
    opacity: 0;
    transition: opacity .15s linear;
}

/* End Nav Bar */
#container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 5px;
    width: 280px;
    height: 75px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    z-index:50;
}
#middler {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	/*border: 1px solid black;*/
}
button {
	background-color: #4CAF50;
	color: white;
	border-radius: 1px;
	border: 1px solid #4CAF50;
	padding: 4px 6px 4px 6px;
	transition: border-color .15s linear;
}
button:hover {
	border-color: #455A64 !important;
}
button:active {
	background-color: #43A047;
}
#settings {
	text-align: left;
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #E8E8E8;
    border-radius: 2px;
    font-size: .9em;
    display: none;
    position: relative;
}
input[type=range] {
	width: 90px;
}
input[type=radio] {
	display: none;
}
input[type=radio] + label {
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: blue;
	margin: 2px 5px 2px 5px;
	border: none;
}
input[type=radio]:checked + label {
	margin: 0px 3px 0px 3px;
	border: 2px solid black;
}
#bar {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 200px;
    height: 3px;
    top: -85px;
    background-color: orange;
}
.triangle {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 0;
	height: 0;
}
#bigT {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid orange;
	top: -88px;
}
#littleT {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid white;
	top: -101px;
}
#bigBox {
	margin: 0 auto;
	position: relative;
	z-index: -2;
	border: 3px solid orange;
	height: 50px;
	width: 65%;
	top: -82px;
	left: -3px;
	background: white;
}
#hiderWrapper {
	width: 105%;
	position: absolute;
	top: -23.5px;
	left: -8px;
	height: 56px;
	/*border: 1px dotted green;*/
}
@-moz-document url-prefix() {
  #hiderWrapper {
     top: -23px;
  }
}
#hiderBox {
	margin: 0 auto;
	position: relative;
	z-index: -1;
	background: white;
	/*border: 1px solid black;*/
	height: 56px;
	width: 67%;
	left: -1px;
	background-position: 0px 7px;
}
#typeGrounds {
    position: relative;
    margin: 0 auto;
	text-align: center;
    top: -88px;
}
#typer {
	color: #2B9A9A;
}
#cursor {
	opacity: 1;
	font-weight: 100;
	vertical-align: 0px;
	-webkit-animation: blink 0.75s infinite;
	-moz-animation: blink 0.75s infinite;
	-o-animation: blink 0.75s infinite;
	animation: blink 0.75s infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
/* Mobile Handling */
.mobile-menu-on {
    visibility: visible;
    opacity: 1;
}
