@font-face{
	font-family: 'HKGrotesk';
	src: url('./hkgrotesk/HKGrotesk.eot');
	src: url('./hkgrotesk/HKGrotesk.eot?iefix') format('eot'),
	     url('./hkgrotesk/HKGrotesk.woff') format('woff'),
	     url('./hkgrotesk/HKGrotesk.ttf') format('truetype'),
	     url('./hkgrotesk/HKGrotesk.svg#webfont') format('svg');
}

* {
  font-family: 'HKGrotesk';
}
p {
  font-family: 'Helvetica Neue';
}

/* 928A97, 283C63 */

html {
	height: 100%;
}
body {
  background-color: #F85F73;
  padding: 0 30px 40px 30px;
  position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
#everything {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.add-relative {
	position: relative;
}

#viewport {
	width: 100%;
	position: absolute;
	z-index: -1;
	height: 600px;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
canvas {
	display: block;
}

.button {
	font-family: 'HKGrotesk';
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	text-align: center;
	padding: 5px;
	color: black;
	font-size: 1.3em;
	width: 120px;
	height: 50px;
	border: 4px solid rgb(63, 97, 188);
	background-color: rgba(63, 97, 188, 0.1);
	cursor: pointer;
	outline: none;
}
.button:hover {
	background-color: rgba(63, 97, 188, 0.2);
}
.button:active {
	background-color: rgba(63, 97, 188, 0.3);
}
.button:not(:first-of-type) {
	margin-left: 10px;
}
.button:nth-of-type(2) {
	border-color: rgb(121, 59, 188);
	background-color: rgba(121, 59, 188, 0.1);
}
.button:nth-of-type(2):hover {
	background-color: rgba(121, 59, 188, 0.2);
}
.button:nth-of-type(2):active {
	background-color: rgba(121, 59, 188, 0.3);
}

.hook {
  margin-top: 60px;
}
.hook p {
  font-size: 1.1em;
}

.gust {
	width: 350px;
	height: 350px;
	position: absolute;
	left: 200px;
	top: 75px;
}
.gust path {
	stroke-dasharray: 100 1300; /* bigger disparity => faster */
	stroke-dashoffset: 0;
	-webkit-animation: dash 3s linear infinite;
	animation: dash 3s linear infinite;
}
@keyframes dash {
	to {
		stroke-dashoffset: 1400; /* sum of stroke-dasharray components */
	}
}

.self-center {
	/* foundation row-like behavior */
	max-width: 62.5rem;
	margin-left: auto;
	margin-right: auto;
}
.footer-icons {
	font-size: 1.3em;
	padding-top: 15px;
}
.footer-icons a:not(:first-child) {
	margin-left: 10px;
}
.footer-icons a {
	color: black;
}
.footer-icons a:hover {
	color: #182D5F;
}

@media (max-width: 600px) {
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 517px) {
	#viewport {
		right: 0;
		width: 517px;
		left: auto;
	}
	.gust {
		right: -30px;
		left: auto;
	}
}
@media (max-height: 400px) {
	#everything {
		top: 0px;
		-webkit-transform: none;
		transform: none;
	}
}
@media (max-height: 580px) {
	#viewport {
		top: 300px;
	}
}