.board-2048 {
  display: inline-block;
  text-align: left;
  position: relative;
  border: 1px solid black;
  border-radius: 1px;
}
.tile {
  position: absolute;
  width: 90%;
  margin: 5%;
  transition: top .1s linear, opacity .1s linear;
}
