/* tryin' to be like Medium ja feel */
h1 {
  text-align: center;
  font-size: 1.7em;
}
h1, h3 {
  font-family: 'Helvetica', sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Georgia', serif;
  color: rgb(34, 34, 34);
  margin: 0;
  width: calc(100% - 10px);
  padding: 5px;
  overflow-x: hidden;
}
article {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 600px;
}
.board-wrapper {
  text-align: center;
  white-space: pre-line;
}
label {
  display: inline-block;
  border-bottom: 2px solid rgb(7, 80, 136);
  border-radius: 3px;
  padding: 5px;
  color: white;
  margin-top: 10px;
  background-color: rgb(46, 129, 193);
  font-family: 'Helvetica';
}
label input {
  display: none;
}
ul {
  padding-left: 20px;
}
hr {
  display: inline-block;
  width: 50%;
  border: 1px solid rgb(223, 223, 223);
  margin: 0px;
}
.important {
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(197, 41, 80);
}
.quote-level {
  border-left: 2px solid rgb(223, 223, 223);
  padding-left: 10px;
}
.quote-level > h4 {
  margin-bottom: 10px;
}
.quote-level > ol {
  margin-top: 0px;
}
